@import "./reset";

table {
  border-collapse: collapse;
  position: relative;
}

th,
tfoot td {
  background-color: #111 !important;
  color: #ccc;
  position: sticky;
  top: 0;
}
td,
th {
  padding: 2px;
}
tr {
  border: 1px solid #eee;
  &:hover {
    background-color: #ddd;
    box-shadow: 1px 2px 5px gray !important;
    border: 1px solid gray !important;
  }
}
tr:nth-child(2n) {
  td:nth-child(2n) {
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
  td:nth-child(2n + 1) {
    background-color: #e8e8e8;
    &:hover {
      background-color: #d8d8d8;
    }
  }
}
tr:nth-child(2n + 1) {
  td:nth-child(2n) {
    background-color: #ddd;
    &:hover {
      background-color: #ccc;
    }
  }
  td:nth-child(2n + 1) {
    background-color: #d8d8d8;
    &:hover {
      background-color: #c8c8c8;
    }
  }
}

.hide {
  display: none;
}

/* for debugging purpose only */
/*
.number {
  background-color: red !important;
}
.timeStamp {
  background-color: blue !important;
}
.date {
  background-color: green !important;
}
.string {
  background-color: orange !important;
}
*/
